# Created by .ignore support plugin (hsz.mobi)
### template template
### Customize ###

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
HELP.md

### Maven ###
/target/
.mvn/
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
